:root {
--price-btn: hsl(158, 36%, 37%);
--btn: hsl(159, 37%, 20%);
--background-color: hsl(30, 38%, 92%);
--featured-text: hsl(212, 21%, 14%);
--texts: hsl(228, 12%, 48%);
--background-card: hsl(0, 0%, 100%);
}